<div [hidden]="requestMode==false">
	<h1>Request PI Data</h1>
	<p>
		Please fill in your details below and click&nbsp; on &quot;Get PI Data&quot;. Fields marked with an asterisk (*) are required.
	</p>
	<div>
		<div style="width: 30em;">
			<label for="piServerName">PI Server Name *</label>
			<!--The value of the input below is bound to the value of the $scope.piServerName.-->
			<input type="text" name="piServerName" id="piServerName" [(ngModel)]="piServerName" />
			<label for="piPointName">PI Point name *</label>
			<input type="text" name="piPointName" id="piPointName" [(ngModel)]="piPointName" />
			<label for="startTime">Start time *</label>
			<input type="text" name="startTime" id="startTime" [(ngModel)]="startTime" />
			<label for="endTime">End time *</label>
			<input type="text" name="endTime" id="endTime" [(ngModel)]="endTime" />
			<label for="interval">Interval *</label>
			<input type="text" name="interval" id="interval" [(ngModel)]="interval" />

			<label for="getsnap">Get Snapshot?</label>
			<select name="getsnap" id="getsnap" size="1" [(ngModel)]="getSnap">
        <option *ngFor="let option of yesOrNoOptions" [value]="option">{{option.name}}</option>
      </select>
			<label for="getrec">Get Recorded Data?</label>
			<select name="getrec" id="getrec" size="1" [(ngModel)]="getRec">
            <option *ngFor="let option of yesOrNoOptions" [value]="option">{{option.name}}</option>
      </select>

			<label for="getint">Get Interpolated Data?</label>
			<select name="getint" id="getint" size="1" [(ngModel)]="getInt">
            <option *ngFor="let option of yesOrNoOptions" [value]="option">{{option.name}}</option>
      </select>

			<div style="clear: both;">
				<!--This function will make Http request and store the results-->
				<input type="submit" id="submitButton" value="Get PI Data!" (click)="getData()" />
				<!--This function will change the values declared on $scope which are bound to some DOM elements-->
				<input type="button" id="DefaultButton" (click)="defaultValues()" value="Default Values" style="margin-right: 20px;" />
			</div>
		</div>
	</div>
</div>
<div *ngIf="requestMode==false">
	<h1>Displaying SINUSOID data</h1>

	<h2>Connection information</h2>
	<br />
	<table border="0" style="width: 20em; border: 1px solid #666;">
		<tr>
			<th>Property</th>
			<th>Value</th>
		</tr>

		<tr>
			<td>PI Server</td>
			<!--Using { {} } also binds the DOM with variables declared under $scope-->
			<td id="PIServerNameValue">{{piServerName}}</td>
		</tr>
		<tr>
			<td>PI Point</td>
			<td id="PIPointNameValue">{{piPointName}}</td>
		</tr>
		<tr>
			<td>Start time</td>
			<td id="StartTimeValue">{{startTime}}</td>
		</tr>
		<tr>
			<td>End time</td>
			<td id="EndTimeValue">{{endTime}}</td>
		</tr>
		<tr>
			<td>Interval</td>
			<td id="IntervalValue">{{interval}}</td>
		</tr>

		<tr>
			<td>Does the PI Server exist?</td>
			<td id="PIServerExistValue">{{piServerExistsValue}}</td>
		</tr>
		<tr>
			<td>Does the PI Point exist?</td>
			<td id="PIPointExistValue">{{piPointExistsValue}}</td>
		</tr>
	</table>

	<div id="errors">
		<div *ngIf="snapshotError && snapshotError.Errors">
			<p *ngFor="let error of snapshotError.Errors">{{error}}</p>
		</div>
		<div *ngIf="recordedError && recordedError.Errors">
			<p *ngFor="let error of recordedError.Errors">{{error}}</p>
		</div>
		<div *ngIf="interpolatedError && interpolatedError.Errors">
			<p *ngFor="let error of interpolatedError.Errors">{{error}}</p>
		</div>
		<div *ngIf="piServerError && piServerError.Errors">
			<p *ngFor="let error of piServerError.Errors">{{error}}</p>
		</div>
		<div *ngIf="piPointError && piPointError.Errors">
			<p *ngFor="let error of piPointError.Errors">{{error}}</p>
		</div>
	</div>
	<div *ngIf="getSnap.value == true &&webId != null">
		<h2 class="snapshot">Snapshot Value of Sinusoid</h2>
		<br />
		<table class="snapshot" border="0" style="width: 20em; border: 1px solid #666;">
			<tr>
				<th>Value</th>
				<th>Timestamp</th>
			</tr>
			<tr *ngIf="snapshotData">
				<td>{{snapshotData.Value}}</td>
				<td>{{snapshotData.Timestamp}}</td>
			</tr>
		</table>
	</div>
	<br />
	<br />

	<div *ngIf="getRec.value == true && recordedData && recordedData.Items">
		<h2 class="recorded">Recorded Values of Sinusoid</h2>
		<br />
		<table class="recorded" border="0" style="width: 20em; border: 1px solid #666;">
			<tr>
				<th>Value</th>
				<th>Timestamp</th>
			</tr>


			<tr *ngFor="let item of recordedData.Items">
				<td>{{item.Value}}</td>
				<td>{{item.Timestamp}}</td>
			</tr>
		</table>
	</div>
	<br />
	<br />
	<div *ngIf="getInt.value == true && interpolatedData && interpolatedData.Items">
		<h2 class="interpolated">Interpolated Values of Sinusoid</h2>
		<br />
		<table class="interpolated" border="0" style="width: 20em; border: 1px solid #666;">
			<tr>
				<th>Value</th>
				<th>Timestamp</th>
			</tr>
			<tr *ngFor="let item of interpolatedData.Items">
				<td>{{item.Value}}</td>
				<td>{{item.Timestamp}}</td>
			</tr>
		</table>
		<br /><br />
	</div>
</div>